%h2 Detalle del Proyecto

- the_post()
.post
  %header
    %h3= link_to(get_the_title(), get_permalink())
  .content= get_the_filtered_content()

  %br

  .p
    %b Cliente
    = types_render_field("client-name", array("id" => get_the_ID()))
  .p
    %b Teléfono
    = types_render_field("client-phone", array("id" => get_the_ID()))
